{% extends 'base.html' %}


{% block content %}
    <div class="card-wrapper2">
        <div class="card">
            <h2 class="center">Add Ballet Info</h2>
            <form>
                <label for="item_name">Ballot Name</label>
                <input type="item_name" name="item_name" class="field" required>

                <label for="image">Image</label>
                <input type="photo" name="image" class="field">

                <label for="description">Description</label>
                <input type="description" name="description" class="field">

                <input type="submit" value="Add Item" class="btn" required>
            </form>
        </div>
    </div>
{% endblock %}
