{% extends 'base.html' %}


{% block content %}
    <div class="card-wrapper2">
        <div class="card3">
            <h2 class="center">Add Ballot Info</h2>
            <form name="ballot_name">
                <label for="item_name">Ballot Name</label>
                <input type="item_name"  maxlength="10" name="item_name" class="field" required>

                <input href="" type="submit" value="Add Ballot" class="btn" required>
            </form>
        </div>
    </div>
{% endblock %}
